/* Margin start */
.marginTop10 {
    margin-top: 10px!important ;
}

.marginTop20 {
    margin-top: 20px!important ;
}

.marginTop30 {
    margin-top: 30px!important ;
}

.marginTop40 {
    margin-top: 40px!important ;
}

.marginTop50 {
    margin-top: 50px!important ;
}

.marginTop60 {
    margin-top: 60px!important ;
}

.marginTop70 {
    margin-top: 70px!important ;
}

.marginTop80 {
    margin-top: 80px!important ;
}

.marginTop90 {
    margin-top: 90px!important ;
}

.marginTop100 {
    margin-top: 100px!important ;
}

.marginBottom10{
    margin-bottom: 10px!important;
}

.marginBottom20{
    margin-bottom: 20px!important;
}

.marginBottom30{
    margin-bottom: 30px!important;
}

.marginBottom40{
    margin-bottom: 40px!important;
}

.marginBottom50{
    margin-bottom: 50px!important;
}

.marginBottom60{
    margin-bottom: 60px!important;
}

.marginBottom70{
    margin-bottom: 70px!important;
}

.marginBottom80{
    margin-bottom: 80px!important;
}

.marginBottom90{
    margin-bottom: 90px!important;
}

.marginBottom100{
    margin-bottom: 100px!important;
}

.marginLeft10{
	margin-left: 10px!important;
}

.marginLeft20{
	margin-left: 20px!important;
}

.marginLeft30{
	margin-left: 30px!important;
}

.marginLeft40{
	margin-left: 40px!important;
}

.marginLeft50{
	margin-left: 50px!important;
}

.marginLeft60{
	margin-left: 60px!important;
}

.marginLeft70{
	margin-left: 70px!important;
}

.marginLeft80{
	margin-left: 80px!important;
}

.marginLeft90{
	margin-left: 90px!important;
}

.marginLeft100{
	margin-left: 100px!important;
}

.marginRight10 {
	margin-right: 10px!important;
}

.marginRight20 {
	margin-right: 20px!important;
}

.marginRight30 {
	margin-right: 30px!important;
}

.marginRight40 {
	margin-right: 40px!important;
}

.marginRight50 {
	margin-right: 50px!important;
}

.marginRight60 {
	margin-right: 60px!important;
}

.marginRight70 {
	margin-right: 70px!important;
}

.marginRight80 {
	margin-right: 80px!important;
}

.marginRight90 {
	margin-right: 90px!important;
}

.marginRight100 {
	margin-right: 100px!important;
}

.marginBoth10 {
	margin-top: 10px!important;
	margin-bottom: 10px!important;
}

.marginBoth20 {
	margin-top: 20px!important;
	margin-bottom: 20px!important;
}

.marginBoth30 {
	margin-top: 30px!important;
	margin-bottom: 30px!important;
}

.marginBoth40 {
	margin-top: 40px!important;
	margin-bottom: 40px!important;
}

.marginBoth50 {
	margin-top: 50px!important;
	margin-bottom: 50px!important;
}
/* Margin end */

/* Padding start */
.paddingTop10 {
    padding-top: 10px!important ;
}

.paddingTop20 {
    padding-top: 20px!important ;
}

.paddingTop30 {
    padding-top: 30px!important ;
}

.paddingTop40 {
    padding-top: 40px!important ;
}

.paddingTop50 {
    padding-top: 50px!important ;
}

.paddingTop60 {
    padding-top: 60px!important ;
}

.paddingTop70 {
    padding-top: 70px!important ;
}

.paddingTop80 {
    padding-top: 80px!important ;
}

.paddingTop90 {
    padding-top: 90px!important ;
}

.paddingTop100 {
    padding-top: 100px!important ;
}

.paddingBottom10{
    padding-bottom: 10px!important;
}

.paddingBottom20{
    padding-bottom: 20px!important;
}

.paddingBottom30{
    padding-bottom: 30px!important;
}

.paddingBottom40{
    padding-bottom: 40px!important;
}

.paddingBottom50{
    padding-bottom: 50px!important;
}

.paddingBottom60{
    padding-bottom: 60px!important;
}

.paddingBottom70{
    padding-bottom: 70px!important;
}

.paddingBottom80{
    padding-bottom: 80px!important;
}

.paddingBottom90{
    padding-bottom: 90px!important;
}

.paddingBottom100{
    padding-bottom: 100px!important;
}

.paddingLeft10{
	padding-left: 10px!important;
}

.paddingLeft20{
	padding-left: 20px!important;
}

.paddingLeft30{
	padding-left: 30px!important;
}

.paddingLeft40{
	padding-left: 40px!important;
}

.paddingLeft50{
	padding-left: 50px!important;
}

.paddingLeft60{
	padding-left: 60px!important;
}

.paddingLeft70{
	padding-left: 70px!important;
}

.paddingLeft80{
	padding-left: 80px!important;
}

.paddingLeft90{
	padding-left: 90px!important;
}

.paddingLeft100{
	padding-left: 100px!important;
}

.paddingRight10 {
	padding-right: 10px!important;
}

.paddingRight20 {
	padding-right: 20px!important;
}

.paddingRight30 {
	padding-right: 30px!important;
}

.paddingRight40 {
	padding-right: 40px!important;
}

.paddingRight50 {
	padding-right: 50px!important;
}

.paddingRight60 {
	padding-right: 60px!important;
}

.paddingRight70 {
	padding-right: 70px!important;
}

.paddingRight80 {
	padding-right: 80px!important;
}

.paddingRight90 {
	padding-right: 90px!important;
}

.paddingRight100 {
	padding-right: 100px!important;
}

.paddingBoth10 {
	padding-top: 10px!important;
	padding-bottom: 10px!important;
}

.paddingBoth20 {
	padding-top: 20px!important;
	padding-bottom: 20px!important;
}

.paddingBoth30 {
	padding-top: 30px!important;
	padding-bottom: 30px!important;
}

.paddingBoth40 {
	padding-top: 40px!important;
	padding-bottom: 40px!important;
}

.paddingBoth50 {
	padding-top: 50px!important;
	padding-bottom: 50px!important;
}
/* Padding end */

/* Float start */
.float-right{
	float: right!important;
}

.float-left{
	float: left!important;
}
/* Float end */

/* Line height start */
.lineHeight24{
	line-height: 24px!important;
}

.lineHeight26{
	line-height: 26px!important;
}

.lineHeight30{
	line-height: 30px!important;
}
/* Line height end */	

/* Font size start */
.fontSize14{
	font-size: 14px!important;
}

.fontSize16{
	font-size: 16px!important;
}

.fontSize18{
	font-size: 18px!important;
}

.fontSize20{
	font-size: 20px!important;
}

.fontSize22{
	font-size: 22px!important;
}

.fontSize24{
	font-size: 24px!important;
}

.fontSize26{
	font-size: 26px!important;
}

.fontSize28{
	font-size: 28px!important;
}

.fontSize30{
	font-size: 30px!important;
}
/*Font size end */

/* Font weight start */
.fontWeight300{
	font-weight: 300!important;
}

.fontWeight400{
	font-weight: 400!important;
}

.fontWeight500{
	font-weight: 500!important;
}

.fontWeight600{
	font-weight: 600!important;
}

.fontWeight700{
	font-weight: 700!important;
}

.fontWeight800{
	font-weight: 800!important;
}
/* Font weight end */

/* Text align start */
.text-left{
	text-align: left!important;
}

.text-right{
	text-align: right!important;
}

.text-center{
	text-align: center!important;
}
/* Text align end */

/* Letter spacing start */
.letterSpacing1{
	letter-spacing: 1px!important;
}

.letterSpacing2{
	letter-spacing: 2px!important;
}

.letterSpacing3{
	letter-spacing: 3px!important;
}

.letterSpacing4{
	letter-spacing: 4px!important;
}

.letterSpacing5{
	letter-spacing: 5px!important;
}

.letterSpacing6{
	letter-spacing: 6px!important;
}

.letterSpacing7{
	letter-spacing: 7px!important;
}

.letterSpacing8{
	letter-spacing: 8px!important;
}

.letterSpacing9{
	letter-spacing: 9px!important;
}

.letterSpacing10{
	letter-spacing: 10px!important;
}
/* letter spacing end */

/* Uppercase start */
.upperCase{
	text-transform: uppercase!important;
}
/* Uppercase end*/

/* Capitalize start */
.capitalize{
	text-transform: capitalize!important;
}
/* Capitalize end */

/* Lowercase start */
.lowerCase{
	text-transform: lowercase!important;
}
/* Lowercase end */